@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-[#090909] text-zinc-100;
}

#root >div {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-image: url(../src/assets/imgs/NLW-return\ -\ 1920x1080.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center; 
}
